* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #fecdaa;
  color: #474350;
}

form {
  padding: 20px;
  width: 90%;
  max-width: 400px;
  background-color: #f8fff4;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 10px;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 18px;
  background-color: #f2f8fc;
  color: #00474a;
}

#profile {
  background-color: #00e645;
}

#name {
  color: #474350;
  font-size: 18px;
}

.card {
  align-items: center;
  border: 1px solid lightgray;
  transition: 0.2s;
  color: #212121;
  background-color: #fcffeb;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  padding: 10px;
  margin: 30px auto;
  border-radius: 20px;
}

.container {
  padding: 2px 16px;
}

button {
  background-color: #00474a;
  text-align: center;
  cursor: pointer;
  padding: 10px 25px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #212121;
}
